<div class="page-container row h-100">
    <div class="container" id="home-container">
        <div class="jumbotron text-center">
            <h1 class="display-4 font-weight-bold">Share fun stories with your <br/> homies online</h1>
            <br/>
            <p class="lead">A blog for homies where you can share and keep <br/> updated with fun stories from your friends</p>
            <br/>
            <a class="btn btn-primary btn-lg" href="#" role="button">Sign up!</a>
        </div>
    </div>
</div>


